.divisor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-form {
  height: 400px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

#favorite-music {
  width: 100%;
}

.page-sidebar {
  width: 125px;
  text-align: center;
  font-size: 18px;
  display: block;
}

.form-paragraph {
  max-width: 550px;
  font-size: 20px;
  text-align: center;
}

.base-label {
  max-width: 500px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-btn {
  width: 140px;
  height: 45px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #4444ff;
  color: #4444ff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beauty-range {
  position: relative;
  font-size: 18px;
  top: -40px;
  left: 25px;
  color: rgb(0, 0, 0, 0.75);
}

.base-label > input {
  width: 250px;
  height: 35px;
  font-size: 22px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
