.divisor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.page-sidebar {
  width: 125px;
  text-align: center;
  font-size: 18px;
  display: block;
}

.form-paragraph {
  max-width: 550px;
  font-size: 22px;
  text-align: center;
}

.base-label {
  max-width: 500px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-page {
  width: 125px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beauty-range {
  position: relative;
  font-size: 18px;
  top: -40px;
  left: 25px;
  color: rgb(0, 0, 0, 0.75)
}

.base-label > input {
  width: 250px;
  height: 35px;
  font-size: 22px;
}